@font-face {
  font-family: IBMPlexMono;
  src: url(./IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: IBMPlexMonoBold;
  src: url(./IBMPlexMono-SemiBold.ttf);
}

html{
  font-family: IBMPlexMono;
  color: #ffffff;
}
body {
  display: grid;
  height: 100%;
  /*overflow: hidden;*/
  grid-template-columns: minmax(5%,30px) minmax(500px, auto) 5%;
  grid-template-rows: minmax(8%,max-content) max-content auto;
  grid-template-areas:
    ". nav ."
    ". header ."
    ". main .";

  font-size: 1em;
  line-height:1.5em;
  background-color: #2f302b;
  font-family: IBMPlexMono;
}
body>.header,
body>.main{
  width: 95%;
}
body>.nav{
  width: 100%;
}
body>.header{
	grid-area: header;
	padding: 5px 15px;

}
body>.header .name{
  font-size: 2em;
  line-height: 3em;
  font-family: IBMPlexMonoBold;
  color: #eb296c;
}

body>.nav{
	grid-area: nav;
  margin: 0em 0em 0em 0em;

  border-bottom: 1px solid #a9aaa5;

  display: flex;
  font-size: 1.1em;
  font-weight: 500;
  color: #a9aaa5;
  height: fit-content;
  background: #2f302b;

  /* For sticky header effect*/
  position: fixed;
  top: 0;
  width: 100%
}

body>.main{
	grid-area: main;


}

.resume-row .resume-col-header{
	font-family: inherit;
  line-height: 2.5em;
  font-size: 2em;
  color: #eb296c;
}



h4{
	margin-top:0px;
}
/* Allow for properly indented content in lists. */
ol{
	list-style: disc outside none;
	padding-left:20px;
}
p{
	margin:0px;
	color: #ffffff;
	padding: 0.25em 0.125em 0.125em
}
.page{
	width:70%;
	margin:auto;
}


.highlight{
  color: #a3d83e
}
.location{
  color:#e2da78;
}
.paragraph{
  padding: 1em 0em 1em 0em;
}
/*************** Buttons ******************************************************************/

.button{
  padding: 0.2em 2em;
  height:fit-content;
  width: fit-content;
  background-color:#2f302b;
}
.clicked, .button:hover {
  border-bottom: 0.2em solid #a9aaa5;
  cursor: pointer;
}
/*********************************************************************************/

.resume-row{
  width:95%;
  padding: 1em;
  margin: 2em 0.75em 0.75em;
  display: grid;
  grid-template-rows : auto auto;
  grid-template-columns: auto;
  grid-template-areas:
      "resume-col-header"
      "resume-col-content";

  /*border-top: 1px solid #a9aaa5;*/
  background-color: #232420;
  border: 0.1em solid #a9aaa5;
  border-radius: 1em;
}
.resume-row .resume-col-header{
	line-height: 2em;
  font-size: 1.5em;
  font-family: IBMPlexMonoBold;

}
.resume-row .resume-col-content{
}


.resume-button{
	float:right;
	background-color: #3c3c3c;
    border: none;
    color: white;
    height: 40px;
    padding: 10px;
}
.thumbnail{
	border: none;
}
/***********************************************************************************************************************************/
/* content- --> this means its a project, presentation, paper, item, etc.*/
.content-box{
	/*
		a box contains
		Thumbnail (code,report,links) 	--- header  --  date
										--- location
										--- description
	*/
	display: grid;
	grid-gap: 0px 0.25em;

	grid-template-columns: 20% 60% 20%;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"header header date"
		"thumbnail location location"
		"thumbnail description description"
		"thumbnail links links"
	;
}
/* content-text-box --> same as above just without thumbnail */
.content-text-box{
	/*
		a content-text-box contains
		header  --  date
		location
		description
		links
	*/
	display: grid;
	/*grid-gap: 0.75em;*/

  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto auto auto;
	grid-template-areas:
		"header date"
		"location location"
		"description description"
		"links links"
	;
}
.content-box,
.content-text-box{
	padding: 2em 0.75em 0.75em;
}
.content-box .header,
.content-text-box .header{
	color:#a3d83e;
	font-size: 1em;
  line-height: 1.2em;
}
.content-box .location,
.content-text-box .location{
	color:#e2da78;
	font-size: 1em
}
.content-box .date, .content-box .thumbnail,
.content-text-box .date{
	color:#a486df;
	font-size: 1em
}
.content-box .description, .content-text-box .description{
  color:#ffffff;
}
.content-box .links, .content-text-box .links{
  color:#64d6ee;
}
.content-box .header,
.content-text-box .header{
  	grid-area: header;
}
.content-box .date,
.content-text-box .date{
	grid-area: date;
	text-align: right;
}
.content-box .location,
.content-text-box .location{
	grid-area: location;
}
.content-box .thumbnail{
	grid-area: thumbnail;
}
.content-box .thumbnail img{
	border: 1pt gray solid;
    border-radius: 0.5pt;
}
.content-box .description,
.content-text-box .description{
	grid-area: description;
}
.content-box .links,
.content-text-box .links{
	grid-area: links;
}

/***********************************************************************************************************************************/
/* list --> this contains a compact ist of list-items and publication-items
   list-items contains
   	- a header within the item with darker font
   	- a description with gray font
   	- date
   	- location
   	- links

   publication-items contains
    - a header within the item with darker font
	- title with gray font
    - date
    - location
    - links

*/
.list{
	display: grid;
	grid-template-columns: 100%;
	grid-auto-flow: row;
	/*padding-bottom: 15px;*/
	font-size: 1em
}
.list .list-item{

}
.list .publication-item{

}

.tabbed{
	/*padding-top: 7px;*/
	padding-left: 1.5em;
}
.list .list-item,
.list .publication-item{
	padding: 2em 0.75em 0.75em;
}
.list-item .header,
.publication-item .header{
	color:#a3d83e;
	font-size: 1em
}
.list-item .title{
  color: #a3d83e;
}
.publication-item .title{
  color: #e2da78;
}
.list-item .description{
  color:#ffffff;
}
.list-item .description{
	grid-area: description;
}
.list-item .date,
.publication-item .date{
	grid-area: date;
}
.list-item .location,
.publication-item .location{
	grid-area: location;
}
.list-item .location, .publication-item .location{
  color: #ffffff;
}
.list-item .date, .publication-item .date{
	color:#ffffff;
}
.list-item .links,
.publication-item .links{
	grid-area: links;
}

a{
	color:#64d6ee;
	font-weight:normal;
	text-decoration: underline;
}
/***********************************************************************************************************************************/
/* gallery --> contains art-item
   art-item contains
   - header
   - image
   - link
*/
.gallery{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	/*padding-bottom: 15px;*/
	font-size: 1em
}
.gallery .art-item{
	padding: 2em 0.75em 0.75em;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50% 50%;
}
.art-item .header,.art-item .links{
	font-size: 1em
	margin: auto;
	opacity: 0;
	color:black;
	z-index: 100;
}
.art-item .header{
	grid-row: 1 / span 1;
	grid-column: 1;
}
.art-item .links{
	grid-row-start: 2;
	grid-column: 1;
}
.art-item .thumbnail{
	grid-row-start: 1;
	grid-column: 1;
}

.art-item:hover{
	background: lightgray;
}
.art-item:hover .header, .art-item:hover .links{
	opacity: 100;
	color:black;
	z-index: 100;
}
.art-item:hover .thumbnail{
	background: lightgray;
	opacity: 0.2;
}

/***************************************** Tablet Screen ****************************************/
@media only screen and (max-device-width: 768px) {
  /* For mobile phones: */
  .profile-box .thumbnail img{
    height: 200px;
  }
  .projects-gallery{
    grid-template-columns: 100%;
  }

  .content-text-box{
    width:100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "header"
        "location"
        "date"
        "description"
        "links"
    ;
  }
  .content-text-box .date{
    grid-area:date;
    text-align:left;
  }

  html{
    font-size: 1.2em;
    line-height: 1.3em;
  }
  body{
    display: grid;
    row-gap: 2em;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      ". nav ."
      ". header ."
      ". main .";

  }
  body>.header,
  body>.nav,
  body>.main{
    width: 100%;
    padding:0em;
    margin: 0em;
  }

  body>.nav{
    /*Sticky nav*/
    position: fixed;
    top: 0;
    width: 100%;

    font-size: 1.5em;
    line-height: 1.7em;
  }

  /*.header > .tabbed > .content-text{
    font-size: 1em;
    line-height: 1.2em;
  }*/

  body>.header{
    margin: 1em;
  }


}

/***************************************** Phone Screen ****************************************/

@media only screen and (max-device-width: 450px) {
  html{
    font-size: 1.5em;
    line-height: 1.7em;
  }
  body{
    display: grid;
    row-gap: 2em;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      ". nav ."
      ". header ."
      ". main .";

  }

  body>.header,
  body>.nav,
  body>.main{
    width: fit-content;

  }

  body>.nav{
    width: 100%;
    font-size: 1.5em;
    line-height: 1.7em;
  }

  body>.header p{
    font-size: 0.7em;
    line-height: 0.9em;
  }



}