<div class="resume-row">
    <div class="resume-col-header">About me!</div>
    <div class="resume-col-content ">
        <div class="paragraph">
            Welcome!
        </div>
        <div class="paragraph">
            I am currently a research scientist at <span class="location">IBM Research Almaden</span>.
            I build human-in-the-loop solutions in the space of <span class="highlight">HCI</span> and <span class="highlight">AI</span> for <span class="highlight">Conversational AI systems</span> and <span class="highlight">Natural Language Processing (NLP)</span> tasks.
        </div>
        <div class="paragraph">
            In 2020, I received my Ph.D. in Computer Science from <span class="location">New York University</span>, where I worked under the supervision of Azza Abouzied.
            I was also a recipient of NYU-Abu Dhabi's Global Ph.D. Student Fellowship that funded my studies and research.
            I received my B.S. in Computer Science from <span class="location">Southern Connecticut State University</span>, where I was awarded the Academic Excellency Award in Computer Science.
        </div>
        <div class="paragraph">
            During my graduate studies, I interned at <span class="location">IBM</span> and <span class="location">Lockheed Martin</span> where I developed and designed tools and solutions for various applications such as information extraction, debugging, and data annotation.
            In 2020, my research work on automating data annotation helped Lockheed Martin cut down $4.2 million worth of costs toward human-based aircraft inspection.
            In 2021, my research prototype developed during my Ph.D. that enabled end-users to extract text by highlighting text examples was integrated into one of IBM's products, Watson Discovery.
            In 2022, I then received an Outstanding Technical Achievement Award at IBM for that research prototype.
        </div>
    </div>
</div>
