<div class="resume-row">
    <div class="resume-col-header">About me!</div>
    <div class="resume-col-content ">
        <div class="paragraph">
            Welcome!
        </div>
        <div class="paragraph">
            I am currently a research scientist at <span class="location">IBM Research Almaden</span>.
            I build human-in-the-loop solutions in the space of <span class="highlight">HCI</span> and <span class="highlight">AI</span> for <span class="highlight">Conversational AI systems</span> and <span class="highlight">Natural Language Processing (NLP)</span> tasks.
        </div>
        <div class="paragraph">
        I received my PhD in Computer Science from <span class="location">New York University</span> in 2020.
            I was also a recipient of the Global Ph.D. Student Fellowship that funded my studies and research.
        I received by B.S. in Computer Science from <span class="location">Southern Connecticut State University</span>, where I was awarded the Academic Excellency Award in Computer Science.
        </div>
        <div class="paragraph">
            During my graduate studies, I interned at <span class="location">IBM</span> and <span class="location">Lockheed Martin</span> where I developed and designed tools and solutions for various applications such as information extraction, debugging, and data annotation.
            In 2020, my research work helped Lockheed Martin cut down $4.2 million worth of costs towards human-based aircraft inspection.
            In 2023, I received a Research Accomplishment Award at IBM for my research work that enabled end-users to extract text by highlighting text examples.
        </div>
    </div>
</div>