<style>
   .resume-row {
      width:100%;
      max-width: 700px
   }
    @media only screen and (max-device-width: 768px){
        .resume-row {
            width:100%;
            max-width: 100%
        }
    }
</style>


<div class="resume-row">
   <div class="resume-col-header">Education</div>
   <div class="resume-col-content ">
      <div class="content-text-box">
         <div class="header">Ph.D. in Computer Science.</div>
         <div class="date" >2015-2020.</div>
         <div class="location">New York University - Tandon School of Engineering.</div>
         <div class="links">
         <a href="http://maedahanafi.info/pdf/MaedaDiplomaPhD.pdf">Diploma.</a> 
         </div>
      </div>
      <div class="content-text-box">
         <div class="header">B.S. in Computer Science. </div>
         <div class="date">2010-2012.</div> 
         <div class="location">Southern Connecticut State University.</div>
         <div class="description">
         <p>Cum Laude, 3.62/4.0 GPA. </p>
         <!--<p>Graduate Courses (2013): Multithreaded Distributed Programming, Advanced Software Engineering, Computer Graphics, Web Programming, Advanced Database System, Computer Networks </p>-->
         <p>Other institutions: University of New Haven (2009), Gateway Community College (2008-2009).</p>
         </div>
         <div class="links">
         <a href="http://maedahanafi.info/pdf/MaedaDiplomaBS.pdf">Diploma.</a> 
         </div>
      </div>

   </div>
</div>

<div class="resume-row">
   <div class="resume-col-header">Work Experience</div>

   <div class="resume-col-content ">
      <div class="content-text-box">
         <div class="header">Artificial Intelligence Research Intern.</div>
         <div class="date">Summer 2020.</div> 
         <div class="location">Remote Internship at Center of Innovation and Security Solutions, Lockheed Martin, Abu Dhabi, United Arab Emirates.</div>
         <div class="description">
         <p>Utilized state-of-the-art research methods to automatically label large training datasets.</p>
         <p>Implemented auto-labeling code that cut down 4.2 million USD worth of costs towards human-based aircraft inspection.</p>
         </div>
         <div class="links">
         <a href="http://maedahanafi.info/pdf/LockheedMartinAward.pdf">Award.</a> 
         </div>
      </div>
      <div class="content-text-box">
         <div class="header">Ph.D. Research Intern.</div>
         <div class="date">Summer 2015 & 2017.</div> 
         <div class="location">IBM Research Almaden, San Jose, California.</div>
         <div class="description">Developed and deployed SEER, an information extraction tool that automatically learns extraction rules, to IBM’s commercial data processing and analysis tool, InfoSphere BigInsights.</div>
      </div>
      <div class="content-text-box">
         <div class="header">Teaching Assistant.</div>
         <div class="date">Spring 2017.</div> 
         <div class="location">Computer Science Department, New York University Abu Dhabi.</div>
         <div class="description">CS-AD390 Capstone Data Extraction.</div>
      </div>
      <div class="content-text-box">
         <div class="header">Graduate Student Research Assistant.</div>
         <div class="date">2014-2020.</div> 
         <div class="location">Design Technology Lab, New York University Abu Dhabi.</div>
         <div class="description">
         <p> Implemented full stack architecture of several automated data extraction tools. </p>
         <p> Programmed several Java-based several program synthesizers. </p>
         <p> Presented several seminars and talks on data extraction tools.</p>
         <p> Published research papers in top conferences for computer science: Conference on Human Factors in Computing Systems (CHI) and International Conference on Management of Data (SIGMOD). </p>
         </div>
      </div>
      <div class="content-text-box">
         <div class="header">Graduate Student Teaching and Research Assistant.</div>
         <div class="date">Fall 2013 - Spring 2014.</div> 
         <div class="location">Computer Science Department, Southern Connecticut State University.</div>
         <div class="description">
         <p>Courses: CSC321 Algorithm Design and Analysis, CSC152 Java Programming I, CSC310 Multimedia Systems, CSC200 Information Management and Productivity Software.</p>
         <p>Graded Java programming projects.</p>
         <p>Conducted tutoring sessions for Java programming.</p>
         </div>
      </div>
      <div class="content-text-box">
         <div class="header">Voluntary Database Internship.</div>
         <div class="date">Summer 2009.</div> 
         <div class="location">Masjid Al Islam Organization, New Haven, Connecticut.</div>
         <div class="description">
         <p>Managed and updated the website with PHP and Joomla.</p>
         <p>Gathered the data to put into the MySQL database.</p>
         </div>
         <div class="links">
         <a href="http://www.masjidalislam.net/">Website.</a> 
         </div>
      </div>
   </div>
</div>

<div class="resume-row">
   <div class="resume-col-header">Awards</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">New York University Abu Dhabi Global Ph.D. Student Fellowship.</span>
            <span class="description">
            Stipend and tuition scholarship with a research assistantship.
            </span>
            <span class="date">2015-2020.</span>
            <span class="location">New York and Abu Dhabi.</span>           
         </div>
         <div class="list-item">
            <span class="header">Cum Laude Award. Computer Science.</span>
            <span class="description"></span>
            <span class="date">Fall 2012.</span>
            <span class="location">Honors Convocation, Southern Connecticut State University.</span>                
         </div>
         <div class="list-item">
            <span class="header">Academic Excellency Award in Computer Science.</span>
            <span class="description"></span>
            <span class="date">Spring 2012.</span>
            <span class="location">Honors Convocation, Southern Connecticut State University.</span>                
         </div>
         <div class="list-item">
            <span class="header">Distinguished Scholar Awards ($12,000 scholarship).</span>
            <span class="description"></span>
            <span class="date">Fall 2009.</span>
            <span class="location">University of New Haven.</span>          
         </div>
      </div>  

   </div>

</div>

<div class="resume-row" ng-hide="obj.privacyon" >
   <div class="resume-col-header">Media</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="publication-item">
            <span class="header"></span>
            <span class="title">
            "Teenager Due to Graduate from SCSU this Year."
            </span>
            <span class="date">2012.</span>
            <span class="location">Southern News.</span>    
            <span class="links">
            <a href="https://thesouthernnews.org/2012/11/12/teenager-due-to-graduate-from-scsu-this-year/">Link.</a> 
            </span> 
         </div>  
         <div class="publication-item">
            <span class="header"></span>
            <span class="title">"13-Year-Old Conn. Muslim Headed to University."</span>
            <span class="date">2009.</span>
            <span class="location">Fox News.</span> 
            <span class="links">
            <a href="https://www.youtube.com/watch?v=zpZcoRMnYeA">Video.</a> 
            </span> 
         </div>  
         <div class="publication-item">
            <span class="header"></span>
            <span class="title">"Girl, 13, will study full time at UNH."</span>
            <span class="date">2009.</span>
            <span class="location">New Haven Register.</span>       
            <span class="links">
            <a href="http://www.nhregister.com/article/NH/20090531/NEWS/305319986">Link.</a> 
            </span> 
         </div>  
      </div>

   </div>
</div>

<div class="resume-row">
   <div class="resume-col-header">Talks</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="publication-item">
            <span class="title">"Tackling Challenges in Data Extraction Pipelines: Intuitive Interfaces, User Collaboration, and Error Explanations."</span>
            <span class="date">Fall 2019.</span> 
            <span class="location">New York University Abu Dhabi.</span>
            <span class="links"></span>
         </div>
         <div class="publication-item">
            <span class="title">"Program by Demonstration using Version Space Algebra."</span>
            <span class="date">Fall 2016.</span> 
            <span class="location">New York University Abu Dhabi.</span>
            <span class="links">
            <a href="https://www.slideshare.net/MaedaHanafi/program-by-demonstration-using-version-space-algebra">Slides.</a>
            </span>
         </div>
         <div class="publication-item">
            <span class="title">"Handwritten Recognition using Neural Networks in Java."</span>
            <span class="date">Fall 2011.</span> 
            <span class="location">CSC 481 Artificial Intelligence and CSC400 Computer Science Seminar, Southern Connecticut State University.</span>
            <span class="links">
            <a href="https://www.slideshare.net/MaedaHanafi/handwriting-recognition-230005476">Slides.</a>
            </span>
         </div>
      </div>

   </div>
</div>


<div class="resume-row">
   <div class="resume-col-header">Links</div>
   <div class="resume-col-content">
      <div class="list">
         <div class="list-item">
         <span class="header">Github:</span>
         <span class="links">
         <a href="https://github.com/theTrueCaptian">https://github.com/theTrueCaptian</a>
         </span>         
         </div>
         <div class="list-item">
         <span class="header">BitBucket:</span>
         <span class="links">
         <a href="https://bitbucket.org/maedah/">https://bitbucket.org/maedah/</a>
         </span>                 
         </div>
      </div>

   </div>
</div>

<div class="resume-row">
   <div class="resume-col-header ">Languages</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">Back-end: </span>
            <span class="description">Java, Spring MVC, PostgreSQL, SQL, C#, Python</span>          
         </div>
         <div class="list-item">
            <span class="header">Front-end: </span>
            <span class="description">JavaScript, node.js, jQuery, D3.js, ReactJS, AngularJS, SASS, CSS</span>    
         </div>
         <div class="list-item">
            <span class="header">Tools & Systems: </span>
            <span class="description">TensorFlow, MATLAB, Unity 3D, AWS, Android SDK</span>          
         </div>
      </div>

   </div>
</div>  

<!--   <div class="resume-col-header ">Hobbies</div>
   <div class="resume-col-content">Amigurumi (Doll Knitting), 3D Modeling (Blender)</div>
</div>-->

<div class="resume-row">
   <div class="resume-col-header">Research Work</div>
   <div class="resume-col-content">
      <div class="content-text-box">
         <div class="header">WhyFlow: Interactively Explaining Errors in Data Extraction Pipelines</div> 
         <div class="date">Fall 2017 to 2020</div>
         <div class="description">

             <div class="list tabbed">
                <div class="publication-item">
                     <span class="header">Paper Publication.</span>
                     <span class="title">
                         "WhyFlow: Explaining Errors in Data Flows Interactively." Maeda F. Hanafi, Azza Abouzied, Marina Danilevsky, and Yunyao Li. SIGKDD. DASH 2020.
                     </span>
                     <span class="links">
                        <a href="https://drive.google.com/file/u/1/d/1EROo3fYk8E1fnX5vBtB1TYtfs_PWsX-N/view?usp=sharing">Paper.</a> 
                        <a href="https://youtu.be/ZRkveX8nCts">Video.</a> 
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Poster Presentation.</span>
                     <span class="title">
                         "FlowFix/WhyFlow: Diagnosing Incorrect Behavior in Large Data Pipelines."
                     </span>
                     <span class="location">NYUAD Annual Research Conference 2017.</span>
                     <span class="date">Fall 2017.</span>
                      To uncomment when work published<span class="links">
                         <a href="http://maedahanafi.info/pdf/KBAnalysis2017NYUADDraft2.pdf">Poster.</a>
                         <a href="https://bitbucket.org/maedah/flowfix/src/master/">Code.</a>
                     </span> 
                 </div>
                 <div class="publication-item">
                     <span class="header">Seminar and Poster Presentation.</span>
                     <span class="title">
                         "Diagnosing Incorrect Behavior in Large Data Pipelines."
                     </span>
                     <span class="location">IBM Research Almaden, San Jose, California.</span>
                     <span class="date">Sept. 2017.</span>
                     To uncomment when work published<span class="links">
                         <a href="http://maedahanafi.info/pdf/KBAnalysis2017FinalIBM.pptx">Slides.</a> 
                         <a href="http://maedahanafi.info/pdf/KBAnalysisPosterPresentation.pdf">Poster.</a> 
                         <a href="http://maedahanafi.info/pdf/OneMinuteMadnessPres2017.pptx">One Minute Presentation.</a>
                     </span> 
                 </div>
             </div>
         </div>
      </div>

      <div class="content-text-box">
         <div class="header">Texture: Structure Identification Over Print and PDF Documents</div> 
         <div class="date">Fall 2014 to 2019</div>
         <div class="description">
             <div class="list tabbed">
                 <div class="publication-item">
                     <span class="header">Paper Publication.</span>
                     <span class="title">
                         "A Collaborative Framework for Structure Identification over Print Documents." Maeda F. Hanafi, Miro Mannino, and Azza Abouzied. SIGMOD. HILDA 2019.
                     </span>
                     <span class="links">
                         <a href="https://hilda.io/2019/proceedings/HILDA2019_paper_8.pdf">Paper.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Poster Presentation.</span>
                     <span class="title">
                         "Texture: Extracting Texts using User Annotations." 
                     </span>
                     <span class="location">NYUAD Annual Research Conference.</span>
                     <span class="date">2015.</span>
                     <span class="links">
                         <a href="http://maedahanafi.info/pdf/NYUADResearchConference2015PosterPresentationDraft3.pdf">Poster.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Seminar.</span>
                     <span class="title">
                         "Texture: Structuring Semi-Structured Documents."  
                     </span>
                     <span class="location">University of California, Berkeley.</span>
                     <span class="date">July 1, 2015.</span>
                     <span class="links">
                         <a href="http://maedahanafi.info/pdf/TextureBerkeley2015.pptx">Slides.</a>
                     </span>
                 </div>
             </div>  
         </div>
      </div>

      <div class="content-text-box">
         <div class="header">SEER: Auto-Generating Extraction Rules from User-Highlighted Texts</div> 
         <div class="date">Fall 2015 to 2017</div>
         <div class="description">
             <div class="list tabbed">
                 <div class="publication-item">
                     <span class="header">Demo Paper.</span>
                     <span class="title">
                         "Synthesizing Extraction Rules from User Examples with SEER." Maeda F. Hanafi, Azza Abouzied, Laura Chiticariu, and Yunyao Li. SIGMOD 2017.
                     </span>
                     <span class="links">
                         <a href="https://dl.acm.org/citation.cfm?id=3056443">Paper.</a>
                         <a href="http://maedahanafi.info/pdf/SIGMODPoster.pdf">Poster.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Paper Publication.</span>
                     <span class="title">
                         "SEER: Auto-Generating Information Extraction Rules from User-Specified Examples." Maeda F. Hanafi, Azza Abouzied, Laura Chiticariu, and Yunyao Li. CHI 2017.
                     </span>
                     <span class="links">
                         <a href="https://dl.acm.org/citation.cfm?id=3025540">Paper.</a> 
                         <a href="https://www.youtube.com/watch?v=xF7WhkXk1Y0">Video.</a> 
                         <a href="http://maedahanafi.info/pdf/SeerChiAppendix.pdf">Algorithm.</a> 
                         <a href="https://www.slideshare.net/MaedaHanafi/seer-autogenerating-information-extraction-rules-from-userspecified-examples">CHI Slides.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Poster Presentation.</span>
                     <span class="title">"Seer: An End-to-End Automated Workflow for Information Extraction using User Highlights." </span>
                     <span class="date">Feb 2016.</span>
                     <span class="location">North East Database Day, Massachusetts Institute of Technology.</span>
                     <span class="links">
                         <a href="http://maedahanafi.info/NEDBPosterPresentationDraft4.pdf">Slides.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Seminar and Poster Presentation.</span>
                     <span class="title">"SEER: An End-to-End Automated Workflow for Information Extraction using User Highlights." </span>
                     <span class="date">August 28, 2015.</span>
                     <span class="location">IBM Research Almaden, San Jose, California.</span>
                     <span class="links">
                         <a href="http://maedahanafi.info/pdf/Seer2015FinalIBM.pptx">Slides.</a> 
                         <a href="http://maedahanafi.info/pdf/SeerIBMPosterPosterPresentationDraft3.pdf">Poster.</a> 
                         <a href="http://maedahanafi.info/pdf/OneMinuteMadnessPres.pptx">One Minute Presentation.</a>
                     </span>
                 </div>
                 <!-- privacy bitchesss
                 <div class="publication-item">
                     <span class="header">Qualifying Exam.</span>
                     <span class="description"></span>
                     <span class="date">Fall 2016.</span>
                     <span class="location">New York University Abu Dhabi.</span>
                     <span class="links">
                         <a href="/pdf/Qualifiers2016PPTReformat.pdf">Slides.</a> 
                         <a href="/pdf/QualifierReport2016Updated.pdf">Detailed Report.</a>
                     </span>
                 </div>
                 -->
     
             </div>  
         </div>
      </div>

   </div>
</div>


<!--<div class="resume-row">
   <div class="resume-col-header">References</div>
   <div class="resume-col-content ">
      <div class="content-text-box">
         <div class="list">
         <div class="list-item">
            <span class="header">Amal Abd-El Raouf </span>
            <span class="description">abdelraoufa1@southernct.edu</span>    
         </div>
         <div class="list-item">
            <span class="header">Ahsan Ahmad</span>
            <span class="description">ahsan.ahmad@lmco.com</span>          
         </div>
         <div class="list-item">
            <span class="header">Azza Abouzied</span>
            <span class="description">azza@nyu.edu</span>          
         </div>
      </div>
      </div>

   </div>
</div>-->
