

<div class="resume-row">
   <div class="resume-col-header">Education</div>
   <div class="resume-col-content ">
      <div class="content-text-box">
         <div class="header">Ph.D. in Computer Science.</div>
         <div class="date" >2015-2020.</div>
         <div class="location">New York University - Tandon School of Engineering.</div>
         <div class="links">
			<a href="https://www.proquest.com/docview/2428045206">Dissertation</a>
         <!--<a href="https://thetruecaptian.github.io/pdf/MaedaDiplomaPhD.pdf">Diploma.</a> -->
         </div>
      </div>
      <div class="content-text-box">
         <div class="header">B.S. in Computer Science. </div>
         <div class="date">2010-2012.</div> 
         <div class="location">Southern Connecticut State University.</div>
         <div class="description">
         <p>Cum Laude.<!--, 3.62/4.0 GPA.--> </p>
         <!--<p>Graduate Courses (2013): Multithreaded Distributed Programming, Advanced Software Engineering, Computer Graphics, Web Programming, Advanced Database System, Computer Networks </p>-->
         <p>Other institutions: University of New Haven (2009), Gateway Community College (2008-2009).</p>
         </div>
         <div class="links">
         <!--<a href="https://thetruecaptian.github.io/pdf/MaedaDiplomaBS.pdf">Diploma.</a> -->
         </div>
      </div>

   </div>
</div>

<div class="resume-row">
   <div class="resume-col-header">Awards</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">2022 Research Accomplishment Award</span>
            <span class="description">
            Sleuth project for enabling end-users to build AI models.
            </span>
            <span class="date">2022.</span>
            <span class="location">IBM Research.</span>           
         </div>
            <div class="list-item">
            <span class="header">New York University Abu Dhabi Global Ph.D. Student Fellowship.</span>
            <span class="description">
            Stipend and tuition scholarship with a research assistantship.
            </span>
            <span class="date">2015-2020.</span>
            <span class="location">New York and Abu Dhabi.</span>           
         </div>
         <div class="list-item">
            <span class="header">Cum Laude Award. Computer Science.</span>
            <span class="description"></span>
            <span class="date">Fall 2012.</span>
            <span class="location">Honors Convocation, Southern Connecticut State University.</span>                
         </div>
         <div class="list-item">
            <span class="header">Academic Excellency Award in Computer Science.</span>
            <span class="description"></span>
            <span class="date">Spring 2012.</span>
            <span class="location">Honors Convocation, Southern Connecticut State University.</span>                
         </div>
         <div class="list-item">
            <span class="header">Distinguished Scholar Awards ($12,000 scholarship).</span>
            <span class="description"></span>
            <span class="date">Fall 2009.</span>
            <span class="location">University of New Haven.</span>          
         </div>
      </div>  

   </div>

</div>


<div class="resume-row">
   <div class="resume-col-header">Talks</div>
   <div class="resume-col-content">

      <div class="list">
	  <div class="publication-item">
              <span class="title">Pattern Induction: Enabling Business Users to Extract Texts with Highlighted Examples</span>
              <span class="date">Fall 2022.</span>
              <span class="location">Remote, Rensselaer Polytechnic Institute, MGMT 2100: Statistical Methods.</span>
              <span class="links">
              </span>
          </div>
          <div class="publication-item">
              <span class="title">Enterprise Information Extraction (IE): Inducing Declarative IE Extractors</span>
              <span class="date">Spring 2022.</span>
              <span class="location">Remote, University of California, Santa Cruz, Natural language processing 203.</span>
              <span class="links">
              </span>
          </div>
          <div class="publication-item">
              <span class="title">PhD Defense: "Human-in-the-Loop Tools for Constructing and Debugging Data Extraction Pipelines."</span>
              <span class="date">Spring 2020.</span>
              <span class="location">New York University Abu Dhabi.</span>
              <span class="links">
                  <a href="https://www.slideshare.net/MaedaHanafi/humanintheloop-tools-for-constructing-and-debugging-data-extraction-pipelines">Slides. </a>
              </span>
          </div>
          <div class="publication-item">
            <span class="title">"Tackling Challenges in Data Extraction Pipelines: Intuitive Interfaces, User Collaboration, and Error Explanations."</span>
            <span class="date">Fall 2019.</span> 
            <span class="location">New York University Abu Dhabi.</span>
            <span class="links">
                <a href="https://www.slideshare.net/MaedaHanafi/tackling-challenges-in-data-extraction-pipelines-intuitive-interfaces-user-collaboration-and-error-explanations">Slides.</a>
            </span>
         </div>
         <div class="publication-item">
            <span class="title">"Program by Demonstration using Version Space Algebra."</span>
            <span class="date">Fall 2016.</span> 
            <span class="location">New York University Abu Dhabi.</span>
            <span class="links">
            <a href="https://www.slideshare.net/MaedaHanafi/program-by-demonstration-using-version-space-algebra">Slides.</a>
            </span>
         </div>
         <div class="publication-item">
            <span class="title">"Handwritten Recognition using Neural Networks in Java."</span>
            <span class="date">Fall 2011.</span> 
            <span class="location">CSC 481 Artificial Intelligence and CSC400 Computer Science Seminar, Southern Connecticut State University.</span>
            <span class="links">
            <a href="https://www.slideshare.net/MaedaHanafi/handwriting-recognition-230005476">Slides.</a>
            </span>
         </div>
      </div>

   </div>
</div>

<!--
<div class="resume-row">
   <div class="resume-col-header">Links</div>
   <div class="resume-col-content">
      <div class="list">
         <div class="list-item">
         <span class="header">Github:</span>
         <span class="links">
         <a href="https://github.com/theTrueCaptian">https://github.com/theTrueCaptian</a>
         </span>         
         </div>
         <div class="list-item">
         <span class="header">BitBucket:</span>
         <span class="links">
         <a href="https://bitbucket.org/maedah/">https://bitbucket.org/maedah/</a>
         </span>                 
         </div>
          <div class="list-item">
          <span class="header">Medium:</span>
          <span class="links">
              <a href="https://maeda-han.medium.com/">https://maeda-han.medium.com/</a>
          </span>
          </div>
      </div>

   </div>
</div>-->

<div class="resume-row">
   <div class="resume-col-header ">Languages</div>
   <div class="resume-col-content">

      <div class="list">
         <div class="list-item">
            <span class="header">Back-end: </span>
            <span class="description">Java, Spring MVC, PostgreSQL, SQL, C#, Python, node.js</span>          
         </div>
         <div class="list-item">
            <span class="header">Front-end: </span>
            <span class="description">JavaScript, jQuery, D3.js, React, Angular, SASS, CSS</span>    
         </div>
         <div class="list-item">
            <span class="header">Tools & Systems: </span>
            <span class="description">TensorFlow, MATLAB, Unity 3D, AWS, Android SDK, Blender 3D</span>          
         </div>
      </div>

   </div>
</div>  

<!--   <div class="resume-col-header ">Hobbies</div>
   <div class="resume-col-content">Amigurumi (Doll Knitting), 3D Modeling (Blender)</div>
</div>-->

<div class="resume-row">
    <div class="resume-col-header">Work Experience</div>

    <div class="resume-col-content ">
        <div class="content-text-box">
            <div class="header">Research Scientist.</div>
            <div class="date">April 2021 to Present.</div>
            <div class="location">IBM Research, San Jose, California.</div>
            <div class="description">
                <p>Develop full-stack human-in-the-loop tools for data analytics and artificial intelligence.</p>
                <p>Served as research paper reviewer (AKBC 2021, EMNLP 2022, CHI 2022).</p>
            </div>
            <div class="links"></div>
        </div>
        <div class="content-text-box">
            <div class="header">Remote React Native Developer.</div>
            <div class="date">Spring 2021.</div>
            <div class="location">DS Luxury, Chicago, Illinois.</div>
            <div class="description">
                <p>Create new front-end features for Android to support car rental, payment, and authentication workflows.</p>
                <p>Developed custom core components, such as forms, according to company design and styles.</p>
                <p>Organized large code base using the Atomic Design and coordinated development with remote team members in an Agile development environment.</p>
            </div>
            <div class="links"></div>
        </div>
        <div class="content-text-box">
            <div class="header">Artificial Intelligence Research Intern.</div>
            <div class="date">Summer 2020.</div>
            <div class="location">Remote Internship at Center of Innovation and Security Solutions, Lockheed Martin, Abu Dhabi, United Arab Emirates.</div>
            <div class="description">
                <p>Utilized state-of-the-art research methods to automatically label large training datasets.</p>
                <p>Implemented auto-labeling code that cut down 4.2 million USD worth of costs towards human-based aircraft inspection.</p>
            </div>
            <div class="links">
                <!--<a href="https://thetruecaptian.github.io/pdf/LockheedMartinAward.pdf">Award.</a> -->
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">Ph.D. Research Intern.</div>
            <div class="date">Summer 2015 & 2017.</div>
            <div class="location">IBM Research Almaden, San Jose, California.</div>
            <div class="description">
                <p>Developed SEER, an information extraction tool that automatically learns extraction rules.
                <p>Deployed SEER to IBM’s commercial data processing and analysis tool, Watson Discovery, making SEER one of the few research prototypes in production.
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">Teaching Assistant.</div>
            <div class="date">Spring 2017.</div>
            <div class="location">Computer Science Department, New York University Abu Dhabi.</div>
            <div class="description">CS-AD390 Capstone Data Extraction.</div>
        </div>
        <div class="content-text-box">
            <div class="header">Graduate Student Research Assistant.</div>
            <div class="date">2014-2020.</div>
            <div class="location">Design Technology Lab, New York University Abu Dhabi.</div>
            <div class="description">
                <p> Implemented full stack architecture of several automated data extraction tools. </p>
                <p> Programmed several Java-based several program synthesizers. </p>
                <p> Presented several seminars and talks on data extraction tools.</p>
                <p> Published research papers in top conferences for computer science: Conference on Human Factors in Computing Systems (CHI) and International Conference on Management of Data (SIGMOD). </p>
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">Graduate Student Teaching and Research Assistant.</div>
            <div class="date">Fall 2013 - Spring 2014.</div>
            <div class="location">Computer Science Department, Southern Connecticut State University.</div>
            <div class="description">
                <p>Courses: CSC321 Algorithm Design and Analysis, CSC152 Java Programming I, CSC310 Multimedia Systems, CSC200 Information Management and Productivity Software.</p>
                <p>Graded Java programming projects.</p>
                <p>Conducted tutoring sessions for Java programming.</p>
            </div>
        </div>
        <div class="content-text-box">
            <div class="header">Voluntary Database Internship.</div>
            <div class="date">Summer 2009.</div>
            <div class="location">Masjid Al Islam Organization, New Haven, Connecticut.</div>
            <div class="description">
                <p>Managed and updated the website with PHP and Joomla.</p>
                <p>Gathered the data to put into the MySQL database.</p>
            </div>
            <div class="links">
                <a href="http://www.masjidalislam.net/">Website.</a>
            </div>
        </div>
    </div>
</div>


<div class="resume-row" ng-hide="obj.privacyon" >
    <div class="resume-col-header">Media</div>
    <div class="resume-col-content">

        <div class="list">
            <div class="publication-item">
                <span class="header"></span>
                <span class="title">
            "Teenager Due to Graduate from SCSU this Year."
            </span>
                <span class="date">2012.</span>
                <span class="location">Southern News.</span>
                <span class="links">
            <a href="https://thesouthernnews.org/2012/11/12/teenager-due-to-graduate-from-scsu-this-year/">Link.</a>
            </span>
            </div>
            <div class="publication-item">
                <span class="header"></span>
                <span class="title">"13-Year-Old Conn. Muslim Headed to University."</span>
                <span class="date">2009.</span>
                <span class="location">Fox News.</span>
                <span class="links">
            <a href="https://www.youtube.com/watch?v=zpZcoRMnYeA">Video.</a>
            </span>
            </div>
            <div class="publication-item">
                <span class="header"></span>
                <span class="title">"Girl, 13, will study full time at UNH."</span>
                <span class="date">2009.</span>
                <span class="location">New Haven Register.</span>
                <span class="links">
            <a href="http://www.nhregister.com/article/NH/20090531/NEWS/305319986">Link.</a>
            </span>
            </div>
        </div>

    </div>
</div>

