<div class="resume-row">
	<div class="resume-col-header">3D Model Renders</div>
	<div class="resume-col-content">
		
		<div class="projects-gallery"><!--<div class="gallery">-->
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/cornicheScene.png"></img>
				</div>
				<div class="header">Corniche Beach.</div> 
				<div class="links">
					<a href="blender-img/cornicheScene.blend">3D Blend File.</a>
				</div>
			</div>
				<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/cat.png"></img>
				</div>
				<div class="header">Cat.</div> 
				<div class="links">
					<a href="blender-img/cat.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room1.png"></img>
				</div>
				<div class="header">Bedroom.</div> 
				<div class="links">
					<a href="blender-img/room1.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room2.png"></img>
				</div>
				<div class="header">Living Room.</div> 
				<div class="links">
					<a href="blender-img/room2.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room3.png"></img>
				</div>
				<div class="header">Kitchen.</div> 
				<div class="links">
					<a href="blender-img/room3.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room4.png"></img>
				</div>
				<div class="header">Office.</div> 
				<div class="links">
					<a href="blender-img/room4.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room5.png"></img>
				</div>
				<div class="header">Basement.</div> 
				<div class="links">
					<a href="blender-img/room5.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room6.png"></img>
				</div>
				<div class="header">Attic.</div> 
				<div class="links">
					<a href="blender-img/room6.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room7.png"></img>
				</div>
				<div class="header">Apartment.</div> 
				<div class="links">
					<a href="blender-img/room7.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room8.png"></img>
				</div>
				<div class="header">Restaurant.</div> 
				<div class="links">
					<a href="blender-img/room8.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room9.png"></img>
				</div>
				<div class="header">Two-Story.</div> 
				<div class="links">
					<a href="blender-img/room9.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/room10.png"></img>
				</div>
				<div class="header">Colorful.</div> 
				<div class="links">
					<a href="blender-img/room10.blend">3D Blend File.</a>
				</div>
			</div>
			<div class="content-box">
				<div class="thumbnail">
					<img src="blender-img/needle.png"></img>
				</div>
				<div class="header">Yarn Needle for 3D Printing.</div> 
				<div class="links">
					<a href="blender-img/needle.blend">3D Blend File.</a>
				</div>
			</div>
		</div>
		

	</div>
</div>