<style>
   .resume-row {
      width:100%;
      max-width: 700px
   }
    @media only screen and (max-device-width: 768px){
        .resume-row {
            width:100%;
            max-width: 100%
        }
    }
</style>

<div class="resume-row">
   <div class="resume-col-header">Journaling</div>
   <div class="profile-box resume-col-content content-text"> 
      	<div class="thumbnail">
            <img src="thumbnails/journals.jpg"></img>
         </div>
         <div class="description">These are my hard copy journals that I've had since 2007 up until I got my first laptop in 2011 when I began journal writing digitally. From 2007 to mid-2020, I wrote approximately a total of 2,340 pages, all single-spaced.

		This began as a weekly habit and eventually became almost a daily, half an hour long habit. I wrote a lot about my experience throughout college, including people I've met and their stories and perspectives. This helped me gain confidence writing research papers, technical pieces, and articles, as showcased in this page.

		</div>

   </div>
</div>


<div class="resume-row">
   <div class="resume-col-header">Technical Publications</div>
   <div class="resume-col-content">
      <div class="list">
            <div class="publication-item">
                 <span class="header">Paper Publication.</span>
                 <span class="title">
                     "WhyFlow: Explaining Errors in Data Flows Interactively." Maeda F. Hanafi, Azza Abouzied, Marina Danilevsky, and Yunyao Li. SIGKDD. DASH 2020.
                 </span>
                 <span class="links">
                    <a href="https://drive.google.com/file/u/1/d/1EROo3fYk8E1fnX5vBtB1TYtfs_PWsX-N/view?usp=sharing">Paper.</a> 
                 </span>
             </div>
             <div class="publication-item">
                 <span class="header">Paper Publication.</span>
                 <span class="title">
                     "A Collaborative Framework for Structure Identification over Print Documents." Maeda F. Hanafi, Miro Mannino, and Azza Abouzied. SIGMOD. HILDA 2019.
                 </span>
                 <span class="links">
                     <a href="https://hilda.io/2019/proceedings/HILDA2019_paper_8.pdf">Paper.</a>
                 </span>
             </div>
             <div class="publication-item">
                     <span class="header">Demo Paper.</span>
                     <span class="title">
                         "Synthesizing Extraction Rules from User Examples with SEER." Maeda F. Hanafi, Azza Abouzied, Laura Chiticariu, and Yunyao Li. SIGMOD 2017.
                     </span>
                     <span class="links">
                         <a href="https://dl.acm.org/citation.cfm?id=3056443">Paper.</a>
                     </span>
                 </div>
                 <div class="publication-item">
                     <span class="header">Paper Publication.</span>
                     <span class="title">
                         "SEER: Auto-Generating Information Extraction Rules from User-Specified Examples." Maeda F. Hanafi, Azza Abouzied, Laura Chiticariu, and Yunyao Li. CHI 2017.
                     </span>
                     <span class="links">
                         <a href="https://dl.acm.org/citation.cfm?id=3025540">Paper.</a> 
                         <a href="http://maedahanafi.info/pdf/SeerChiAppendix.pdf">Algorithm.</a> 
                     </span>
                 </div>
            
      </div>
   </div>
</div>
<div class="resume-row">
   <div class="resume-col-header">Articles</div>
   <div class="resume-col-content">
      <div class="list">
				<div class="publication-item">
                 <span class="header">Article.</span>
                 <span class="title">
                     "How to Extract Text from PDFs." Maeda F. Hanafi. Medium. 2021.
                 </span>
                 <span class="links">
                     <a href="https://maeda-han.medium.com/how-to-extract-text-from-pdfs-844958ec5e39">Link.</a>
                 </span>
             </div>
				 <div class="publication-item">
                 <span class="header">Article.</span>
                 <span class="title">
                     "Behind the AI Hype." Maeda F. Hanafi. Medium. 2021.
                 </span>
                 <span class="links">
                     <a href="https://maeda-han.medium.com/behind-the-ai-hype-f135872fa4f1">Link.</a>
                 </span>
             </div>
            <div class="publication-item">
                 <span class="header">Article.</span>
                 <span class="title">
                     "On Judging Approachability by Appearance." Maeda F. Hanafi. The Gazelle. 2018.
                 </span>
                 <span class="links">
                     <a href="https://www.thegazelle.org/issue/144/features/on-judging-approachability-by-appearance">Link.</a>
                 </span>
             </div>
             <div class="publication-item">
                 <span class="header">Article.</span>
                 <span class="title">
                     "The Struggle with Conflicting Identities: A Non-Stereotypical American's Experience in the UAE." Maeda F. Hanafi. The Gazelle. 2017.
                 </span>
                 <span class="links">
                    <a href="https://www.thegazelle.org/issue/123/features/unconventional-american-identity">Link.</a> 
                 </span>
             </div>
             
            
      </div>
   </div>
</div>
<div class="resume-row">
   <div class="resume-col-header">Misc. Writing</div>
   <div class="resume-col-content">
      <div class="list">
				
            <div class="publication-item">
               <span class="header">Abstract.</span>
               <span class="title">"Predicting Security Vulnerabilities from Neglected Conditions."</span>
               <span class="date">Spring 2016.</span> 
               <span class="location">CS-GY6813 Networks Security, New York University-Tandon.</span>
               <span class="links">
                   <a href="pdf/CS-GY6813-FinalExtendedabstract.pdf">Abstract.</a> 
               </span>
            </div>
            <div class="publication-item">
               <span class="header">Report.</span>
               <span class="title">"Crawling the Deep Net."</span>
               <span class="date">Summer 2016.</span> 
               <span class="location">CS-GY6033 Algorithms, New York University-Tandon.</span>
               <span class="links">
                   <a href="http://maedahanafi.info/pdf/AlgorithmsReport2016.pdf">Paper.</a> 
               </span>
            </div>
            <div class="publication-item">
               <span class="header">Paper.</span>
               <span class="title">
                   "Change Theory: Towards a Better Understanding of Software Maintenance." Amal Abdel-Raouf and Maeda Hanafi. WSEAS Transactions on Computers. 2014.
               </span>
               <span class="links">
                   <a href="https://www.researchgate.net/publication/287543505_Change_theory_Towards_a_better_understanding_of_software_maintenance">Paper.</a> 
               </span>
            </div>
            <div class="publication-item">
               <span class="header">Paper.</span>
               <span class="title">
                   "Software Maintenance from the Change Theory Perspective." Maeda Hanafi and Amal Abdel-Raouf. EUROPMENT conference Circuits, Systems, Signal Processing, Communications and Computers, March 2014.
               </span>
               <span class="links">
                   <a href="http://www.europment.org/library/2014/venice/bypaper/OLA/OLA-10.pdf">Paper.</a> 
               </span>
            </div>
            <div class="publication-item">
               <span class="header">Report.</span>
               <span class="title">
                   "Weblog Analytic Research, Microsoft Access Database."
               </span>
               <span class="date">Fall 2010.</span> 
               <span class="location">CSC335 Database Management System Design, Southern Connecticut State University.</span>
               <span class="links">
                   <a href="http://maedahanafi.info/pdf/CSC335Database-ResearchReport.pdf">Report.</a>
               </span>
            </div>
      </div>
   </div>
</div>